<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Estudiantes</title>
		
		<link href="index.php" rel="canonical">
		
		<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css">
		<link rel="stylesheet" href="css/font-awesome.css" type="text/css">
		<link rel="stylesheet" href="css/mobile-menu.css" type="text/css">
		<link rel="stylesheet" href="css/template.css" type="text/css">
		<link rel="stylesheet" href="css/preset1.css" type="text/css">
		<link rel="stylesheet" href="css/custom.css" type="text/css">
		<link rel="stylesheet" href="css/flexslider.css" type="text/css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/custom-theme/jquery-ui-1.10.4.custom.css" />
		
		<style type="text/css">
			{literal}
				.container{max-width:940px}
				#sp-header-wrapper{padding: 15px 0px 7px 0px !important; }
				#sp-menu-wrapper{color: rgb(255, 255, 255) !important; }
				#sp-menu-wrapper a{color: rgb(255, 255, 255) !important; }
				#sp-menu-wrapper a:hover{color: rgb(45, 86, 152) !important; }
				#sp-footer-wrapper{padding: 30px 0 !important; }
			{/literal}
		</style>
		
		<script src="js/jquery.min.js" type="text/javascript"></script>
		<script src="js/jquery-noconflict.js" type="text/javascript"></script>
		<script src="js/jquery-migrate.min.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		<script src="js/jquery-noconflict(1).js" type="text/javascript"></script>
		<script src="js/modernizr-2.6.2.min.js" type="text/javascript"></script>
		<script src="js/helix.core.js" type="text/javascript"></script>
		<script src="js/menu.js" type="text/javascript"></script>
		<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
		<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
		<script src="js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
		<script src="js/validacion.js" type="text/javascript"></script>
		<script type="text/javascript" src="js/i18n/grid.locale-en.js"></script>
		
		<style>
			{literal}
				#sp-footer-wrapper {
					background: transparent !important;
					padding: 0px 0 !important;
				}
				.separador_menu a{
					color: rgb(45, 86, 152) !important;
				}
			{/literal}
		</style>
	</head>
	
	<body>
		<div>
			<header id="sp-header-wrapper">
				<div class="row-fluid" id="titulo">
					<div class="custom" align="center">
						<p><span style="font-size:38px; font-weight:bold; color:#036">Estudiantes</span></p><br>
					</div>
				</div>
			</header>
			
			<section id="sp-menu-wrapper" class=" ">
				<div class="container-fluid">
					<div class="row-fluid" id="menu">
						<div id="sp-menu" class="span12">
							<div id="sp-main-menu">
								<ul class="sp-menu level-0">
									{if $MENU eq SI}
										<li class='menu-item'>
										<a href='exit.php' class='menu-item active first'>
											<span class='menu'>
												<span class='menu-title'><i class='fa fa-times'></i> Salir</span>
											</span>
										</a>
									</li>
									{/if}
									<li>
										<a target="_blank" href='PASOS DE INSTALACIÓN.pdf' class='menu-item active first'>
											<span class='menu'>
												<span class='menu-title'>
													<i class="fa fa-bell"></i> Ayuda
												</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<div class="container-fluid" style="min-height: 350px;background-color:white" id="contenido-general">
				<section id="sp-contenido-interno-wrapper" class=" ">
					<div class="container-fluid" align="center">
						<br>
						{$CONTENIDO_MODULO}
					</div>
				</section>
			</div>
			
			<footer id="sp-footer-wrapper">
				<div class="container-fluid" style="height:150px">
					<div class="row-fluid" id="footer">
						<div id="sp-footer-inm" class="span6"></div>
					</div>
				</div>
			</footer>
		</div>		
	</body>
</html>