<div class="row-fluid" id="contenido-interno">
	<div class="row">
		<div class="span11 offset1">
			<div class="row">
				<h4>Ingreso</h4>
					<form class="form-signin" method="POST" action="validar.php">
						<div class="form-group">
							<label for="usuario">Usuario:</label>
							<input type="text" id="idusuario" name="usuario" class="form-control" placeholder="Ingrese su nombre de usuario" required >
						</div>
						<div class="form-group">
							<label for="pwd">Clave:</label>
							<input type="password" id="idclave" name="clave" class="form-control" placeholder="Ingrese su clave" required>
						</div>
						<button type="submit" class="btn btn-primary">&nbsp;&nbsp;Ingresar&nbsp;&nbsp;</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>